<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
	<session-factory>
		
		<property name ="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
		<property name="hibernate.show_sql">true</property>
		
  	 	<mapping class="com.ezen.antpeople.entity.UserEntity"/>
  	 	<mapping class="com.ezen.antpeople.entity.RoleEntity"/>
  	 	
	</session-factory>
</hibernate-configuration>