/* select or disable marker */
.clickEvent_Opacity, .selectStaffBar_Opacity, .excessMp {
  opacity : 0.5;
}
.divArea {
  border : 0.5px solid #ccc;
  margin : 5px;
}
/* ./ select or disable marker */

/* plannerMain style */
.staffBar {
  padding: 5px 10px;
  font-weight: bold;
  margin-bottom: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  text-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 3px;
  /*cursor: move;*/
}
.staffBar:hover {
  box-shadow: inset 0 0 90px rgba(0,0,0,0.2);
}
/*>>190729*/
.selectedEvent {  /* 셀렉트 형태 조정할 것. */
  opacity : 0.9;
  font-weight: bold;
  box-shadow: 3px 3px 2px grey;
  text-shadow: 1px 1px 1px black;
}
.selectedEvent span.eventMarker {
  border-left: 5px solid red;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.fc-prev-button, .fc-next-button, .fc-today-button {
  visibility  : hidden;
}
.btn-primary:hover {
  background-color : #367fa9;
  border-color : #367fa9;
}
/* ./ End of planner main style*/

/* bbs pagination 설정 */
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
	width: 100%;
	text-align: center;
}

/* accept page */
.approval, .finishModify, .finishModify:disabled, .modify {
  background-color: #00a65a;
  border-color: #00a65a;
}
.approval:hover, .finishModify:hover, .modify:hover {
  opacity : 0.5;
  background-color: #00a65a;
  border-color: #00a65a;
}
.approvalCanelation, .modifyStaffEvent {
  background-color: #e47636;
  border-color:  #e47636;
}
.approvalCanelation:hover, .modifyStaffEvent:hover {
  opacity : 0.5;
  background-color: #e47636;
  border-color:  #e47636;
}
.btn-primary:focus {
  color: #fff;
  border-color: lightgrey;
}
/* end of accept page */

/* main page board badge color */
.bgDun {
  background-color: #D81B60;
  border-color:  #D81B60;
}
.bgWal {
  background-color: #00c0ef;
  border-color:  #00c0ef;
}
.bgGhwan {
  background-color: #00a65a;
  border-color:  #00a65a;
}
.bgGal {
  background-color: #001F3F;
  border-color:  #001F3F;
}
.bgTan {
  background-color: #ff851b;
  border-color:  #ff851b;
}


/* main page toDo style */
li > .label {
  position : relative;
  bottom : 2px;
}
li > input[type=checkbox] {
  position : relative;
  top : 2.5px;
}
.toUserFrame {
  overflow-x : visible;
  width : 100%;
  min-height : 3.2rem;
  border : 1px solid lightgrey;
  font-size : 1rem;
}
.itemFrame {
  display:inline-block;
  width : fit-content;
  /*border-radius : 0.5rem;
 border : 1px solid lightblue;*/
  margin : 2px 5px 2px 5px;
}
.itemDelSign {
  font-size : 1.5rem;
  color: #e14242;
  opacity: 0.5;
  position: relative;
  top : 1px;
  margin : 0 2px 0 2px;
}
.itemDelSign:hover {
  opacity: 1;
}
/* End of main page toDo style */
 
/* main page item height adjust style */
.staffListFooter {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.toDoBtnBox {
  margin: 5px 10px 0 10px;
  height : 20px;
}
.inline {
  position: absolute;
  bottom: 0px;
  margin : 0 0 10px 0;
}
/* End of main page item height adjust style */

/* Carousel height */
.carousel {
  height : 300px;
}
.carousel-inner{
  height : 300px;
}
.item {
  height : inherit;
}
<<<<<<< HEAD
.roleCircle {
    width: 5rem;
    height: 5rem;
    border: 1px solid black;
    border-radius: 5rem;
    color: white;
  }
  .roleCircleOwner {
  	border-color: #dd4b39;
  	background-color: #dd4b39;
  }
  .roleCircleStaff {
    border-color: #3c8dbc;
  	background-color: #3c8dbc;
  }
=======


>>>>>>> 207a3c3cd2213323f581604090f8a65d2c3b7210
/* End of Carousel height */

/* Top userInfo style */
.roleCircle {
  width: 5rem;
  height: 5rem;
  border: 1px solid black;
  border-radius: 5rem;
  color: white;
}
.roleCircleOwner {
  border-color: #dd4b39;
  background-color: #dd4b39;
}
.roleCircleStaff {
  border-color: #3c8dbc;
  background-color: #3c8dbc;
}
/* End of Top userInfo style */